@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    font-style: normal;
    font-display: swap;
}

:root {
/*FONTES*/
    --font-titulo: 'Outfit', sans-serif;
    --font-corpo: 'Plus Jakarta Sans', sans-serif;

/*CORES*/
    --text-primary-color: #ffffff;

    --background-primary-color: #ffffff;
    --background-secondary-color: #3abe99;

    --secondary-color: #133a61;

/*PESOS*/
    --low-title-weight: 600;
    --title-weight: 700;
    --text-weight: 400;
    --menu-text-weight: 500;    

}

body {
    background-color: rgb(236, 235, 235);
    font-family: var(--font-corpo);
    font-weight: var(--text-weight);
}

h1, h2, h3, h4 {
    font-family: var(--font-titulo);
    font-weight: var(--title-weight);
}

#page-wrapper {
    overflow-x: hidden;
    position: relative; 
}

main {
    width: auto;
    height: 800px;
}