header {
    display: flex;
    justify-content:  space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    height: 60px;
    background-color: var(--background-secondary-color);
}

.logo-header {
    width: 55px;
    height: auto;
}

#menu {
    z-index: 10;
    position: relative;
}

#menu-bar {
    width: 30px;
    height: 25px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: var(--secondary-color);
    display: block;
    border-radius: 2px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar2 {
    transform: translateY(-2px);
}

.nav {
    position: absolute;
    top: 40px;
    right: 30px;
    z-index: 5;
    text-align: right;
    display: none;
}

.nav ul {
    margin: 0;
    padding: 0;
}

.nav li {
    list-style: none;
    padding: 5px 0;
}

.nav li a {
    color: var(--text-primary-color);
    font-size: 18px;
    text-decoration: none;
}

nav li a:hover {
    font-weight: var(--menu-text-weight);
}

.menu-bg #menu {
    position: absolute;
    top: 0;
    right: 0;
}

.menu-bg {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 0;
    height: 0;
    background: radial-gradient(circle, var(--secondary-color), var(--secondary-color));
    border-radius: 50%;
    transition: 0.3s ease;
    z-index: 1;
}

.change {
    display: block;
}

.change .bar {
    background-color: var(--background-primary-color);
}

.change #bar1 {
    transform: translateY(11px) rotateZ(-45deg);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    transform: translateY(-10px) rotateZ(45deg);
}

.change-bg {
    width: 280px;
    height: 375px;
    transform: translate(40%, -40%);
}

.nav .change {
    display: block;
}